<div class="content-header">
    <h2 class="content-title">作业列表</h2>
    <span class="layui-breadcrumb">
	  <a href="#!home">首页</a>
	  <a href="#!task/taskList"><cite>作业列表</cite></a>
	</span>
</div>

<div id="showTable">
    <div class="layui-form toolbar">
        搜索：
        <select id="searchKey">
            <option value="">-请选择-</option>
            <option value="announcement_title">公告标题</option>
            <option value="announcement_introduction">公告简介</option>
            <option value="announcement_content">公告内容</option>
        </select>&emsp;
        <input id="searchValue" class="layui-input search-input" type="text" placeholder="输入搜索内容"/>&emsp;
        <button id="searchBtn" class="layui-btn search-btn"><i class="layui-icon">&#xe615;</i>搜索</button>&emsp;
        <button id="addBtn" class="layui-btn search-btn"><i class="layui-icon">&#xe654;</i>添加</button>
    </div>

    <table class="layui-table" id="table" lay-filter="table"></table>

</div>

<form class="layui-form" action="" id="addForm" style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">公告标题</label>
        <div class="layui-input-block">
            <input type="text" name="announcementTitle" id="announcementTitle" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                   class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">公告简介</label>
        <div class="layui-input-block">
                <textarea class="layui-textarea layui-hide" name="announcementIntroduction" lay-verify="announcementIntroduction"
                          id="announcementIntroduction"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">公告内容</label>
        <div class="layui-input-block">
                <textarea class="layui-textarea layui-hide" name="announcementContent" lay-verify="announcementContent"
                          id="announcementContent"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否发布</label>
        <div class="layui-input-block">
            <input type="checkbox" name="isPublish" id="isPublish" lay-skin="switch" lay-text="ON|OFF">&nbsp;&nbsp;&nbsp;(注意：若不是管理员，则需要管理员审批)
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">提交</button>
            <button type="reset" id="reset" class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
</form>

<!-- 表格操作列 -->
<script type="text/html" id="barTpl">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="view">详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script type="text/html" id="statusTpl">
    <input type="checkbox" value="{{d.announcementId}}" disabled lay-filter="statusCB2" lay-skin="switch" lay-text="是|否"
           {{ d.isPublish== 1 ? 'checked' : '' }}>
</script>


<script type="text/javascript" src="assets/js/announcement/announcement.js"></script>

<script>
    layui.use(['form', 'layedit'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit;


        //创建一个编辑器
        var editIndex1 = layedit.build('announcementIntroduction');
        var editIndex2 = layedit.build('announcementContent');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 1) {
                    return '标题至少得1个字符';
                }
            }
            , announcementIntroduction: function (value) {
                layedit.sync(editIndex1);

            }
            , announcementContent: function (value) {
                layedit.sync(editIndex2);
            }
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            data.field.announcementCreateManagerId = getCurrentUser().userId;
            data.field.roleId = getCurrentUser().roleId;
            $.ajax({
                url: "announcement/addAnnouncement/",
                type: "post",
                data:data.field,
                success: function(data){
                    console.log(data);
                    layer.closeAll('loading');
                    if(data.code==200){
                        layer.msg(data.msg,{icon: 1});
                        window.location.reload();
                    }else{
                        layer.msg(data.msg,{icon: 2});
                    }
                }
            });
            return false;
        });
        form.render();
    });
</script>