<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.ew.task.dao.ArrangeDao">
    <select id="queryQuestionCountByType" resultType="java.lang.Integer">
        select count(1) from question where Cname=(select Cname from course where Cno=#{cno}) and Qtype=#{type}
        <if test="chapter!=null and chapter.length > 0">
            and Qchapter in
            <foreach  collection="chapter" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>
    <select id="queryCodeCountByType" resultType="java.lang.Integer">
        select count(1) from code where Cname=(select Cname from course where Cno=#{cno})
        <if test="chapter!=null and chapter.length > 0">
            and Qchapter in
            <foreach  collection="chapter" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </select>

    <insert id="arrangeTask" useGeneratedKeys="true" keyProperty="tid">
        insert into task(Task_name,Tappendixes,Tstate,Ttype,
        Tscore,Tno,Tname,SubTime,Cno,Tchapter)
        values(#{taskName},#{tappendixes},#{tstate},#{ttype},
        #{tscore},#{tno},#{tname},#{subtime},#{cno},
        #{tchapter});
    </insert>

    <select id="queryCodeList" resultType="java.lang.Integer">
        select Qid from code where Cname=(select Cname from course where Cno=#{cno})
        <if test="chapter!=null and chapter!=''">
           and  Qchapter in
            <foreach collection="chapter" index="index" item="item"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY RAND() LIMIT #{count}
    </select>

    <select id="queryQuestionList" resultType="java.lang.Integer">
        select Qid from question where Cname=(select Cname from course where Cno=#{cno}) and Qtype=#{type}
        <if test="chapter!=null and chapter!=''">
            and Qchapter in
            <foreach collection="chapter" index="index" item="item"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        ORDER BY RAND() LIMIT #{count}
    </select>
    <insert id="autoMakeQuestionPaper">
        insert into tdetail(tid,type,Qid,Score) VALUES
        <foreach  collection="list" item="item" separator=",">
            (#{tid},#{type},#{item},#{score})
        </foreach>
    </insert>

    <insert id="insertTdetail">
        insert into tdetail(tid,type,Qid,Score) VALUES
        <foreach  collection="list" item="item" separator=",">
            (#{newTid},#{item.type},#{item.qid},#{item.score})
        </foreach>
    </insert>
</mapper>