<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.ew.grade.dao.GradeDao">
    <resultMap id="ClassDeatilGrade" type="com.wf.ew.grade.model.ClassDeatilGrade">
        <result column="Sno" property="sno"></result>
        <result column="Sname" property="sname"></result>
        <result column="Sclass" property="sclass"></result>
        <result column="className" property="className"></result>
        <result column="Tid" property="tid"></result>
        <result column="Task_name" property="taskName"></result>
        <result column="Grade" property="grade"></result>
        <result column="Cno" property="cno"></result>
        <result column="Cname" property="cname"></result>
    </resultMap>
    <resultMap id="TaskGradeStatistic" type="com.wf.ew.grade.model.TaskGradeStatistic">
        <result column="Cno" property="cno"></result>
        <result column="Cname" property="cname"></result>
        <result column="Start_time" property="startTime"></result>
        <result column="End_time" property="endTime"></result>
        <result column="Tid" property="tid"></result>
        <result column="cid" property="cid"></result>
        <result column="courseName" property="courseName"></result>
        <result column="Tchapter" property="tchapter"></result>
        <result column="Task_name" property="taskName"></result>
        <result column="sumGrade" property="totalGrade"></result>
    </resultMap>
    <resultMap id="exportGrade" type="com.wf.ew.grade.model.ExportGrade">
        <result column="Sclass" property="className"></result>
        <result column="Sno" property="sno"></result>
        <result column="Sname" property="sname"></result>
        <result column="Tid" property="tid"></result>
        <result column="Grade" property="grade"></result>
        <result column="Task_name" property="taskName"></result>
    </resultMap>

    <resultMap id="questionStatistic" type="com.wf.ew.grade.model.QuestionStatistic">
        <result column="Tid" property="tid"></result>
        <result column="Qid" property="qid"></result>
        <result column="Score" property="score"></result>
        <result column="Qtype" property="type"></result>
        <result column="Qcontent" property="qcontent"></result>
        <result column="Qanswer" property="qanswer"></result>
        <result column="count" property="totalCount"></result>
    </resultMap>

    <select id="courseGradeByCnoAndTime" resultMap="TaskGradeStatistic">
        select t.Tid,t.Task_name,t.Cno as cid,t.Tchapter,ct.Cno,ct.End_time,ct.Start_time,co.Cname as courseName,cl.Cname,sum(st.Grade) as sumGrade
        from task t,ctask ct,course co,class cl,stask st
        <where>
            t.Tid=ct.Tid
            and co.Cno=t.Cno and cl.Cno=ct.Cno and st.Tid=t.Tid and st.Cno=ct.Cno
            <if test="cno != null">
                and t.Cno=#{cno}
            </if>
            <if test="tno != null">
                and t.Tno=#{tno}
            </if>
            <if test="cno != null">
                and t.Cno=#{cno}
            </if>
            <if test="startTime != null">
                and ct.Start_time &gt; #{startTime}
            </if>
            <if test="endTime != null">
               and ct.End_time &lt; #{endTime}
            </if>
        </where>
        GROUP BY t.Tid,cl.Cname
    </select>

    <select id="courseDetailGradeByCnameAndTaskName" resultMap="ClassDeatilGrade">
        select si.Sno,si.Sname,si.Sclass,class.Cname as className,t.Tid,t.Task_name,st.Grade,t.Cno,co.Cname
		from sinformation si LEFT JOIN stask st on si.Sno=st.Sno
		LEFT JOIN ctask ct on ct.Tid=st.Tid and ct.Cno=(select Cno from class where Cname=#{cname})
		LEFT JOIN task t on t.Cno=#{cno} and t.tid=ct.Tid and t.tid=st.Tid and t.Task_name=#{taskName}
		left join class on si.Sclass=class.Cno
		left JOIN course co on co.Cno=t.Cno where  t.Tno=#{tno} and si.Sclass=(select Cno from class where Cname=#{cname})
    </select>
    <select id="taskGradeStatisticByCnoAndTime" resultMap="TaskGradeStatistic">
        select ct.Cno,Class.Cname,ct.Start_time,ct.End_time,t.Task_name,t.Cno,c.Cname as courseName,
        t.Tid,s.Sno,sum(s.Grade) as sumGrade
		from Ctask ct,task t,Course c,Stask s,Class
		where t.Tno=#{tno} and ct.Cno=#{cno}
		and t.Tid=ct.Tid and c.Cno=t.Cno and s.Tid=t.Tid
		and Class.cno=#{cno}
        <if test="startTime != null">
            and ct.Start_time &gt; #{startTime}
        </if>
        <if test="endTime != null">
            and ct.End_time &lt; #{endTime}
        </if>
		and s.Sno in (select sno from Sinformation where Sclass=#{cno}) GROUP BY c.Cname,t.Tid ORDER BY ct.End_time
    </select>
    <select id="taskGradeDetailByCnameAndTime" resultMap="ClassDeatilGrade">
        select si.Sno,si.Sname,si.Sclass,t.Tid,t.Task_name,st.Grade,t.Cno,co.Cname
		from sinformation si LEFT JOIN stask st on si.Sno=st.Sno
		LEFT JOIN ctask ct on ct.Tid=st.Tid and ct.Start_time=#{time}
		LEFT JOIN task t on t.Cno=(select Cno from course where Cname=#{cname}) and t.tid=ct.Tid
		left JOIN course co on co.Cno=t.Cno where Sclass=#{cno} and t.Tno=#{tno}
    </select>

    <select id="exportGrade" resultMap="exportGrade">
        select si.Sclass,si.Sno,si.Sname,st.Tid,st.Grade,task.Task_name from sinformation si
        LEFT JOIN stask st on st.Sno=si.Sno
        LEFT JOIN task on task.Tid=st.Tid
        <where>
            <if test="className != null and className!=''">
                and si.Sclass=(select Cno from class where Cname=#{className})
            </if>
            <if test="tno != null and tno!=''">
                and task.Tno=#{tno}
            </if>
        </where>
        ORDER BY task.SubTime,si.Sno
    </select>

    <select id="queryTaskName" resultType="java.lang.String">
        select task.Task_name from sinformation si
        LEFT JOIN stask st on st.Sno=si.Sno
        LEFT JOIN task on task.Tid=st.Tid
        <where>
            <if test="className != null and className!=''">
               and si.Sclass=(select Cno from class where Cname=#{className})
            </if>
            <if test="tno != null and tno!=''">
                and task.Tno=#{tno}
            </if>
        </where>
        GROUP BY task.Task_name
        ORDER BY task.SubTime,si.Sno
    </select>

    <select id="queryQuestionStatistic" resultMap="questionStatistic">
        select st.Tid,std.Qid,std.Score,qu.Qtype,qu.Qcontent,qu.Qanswer,count(1) count
        from stask st LEFT JOIN stdetail std on st.id=std.id
        LEFT JOIN question qu on std.Qid=qu.Qid LEFT JOIN ctask ct on ct.Tid=st.Tid
        where st.Cno=#{cno} and ct.Start_time=#{time} and qu.Qtype not in('简答题','填空题') GROUP BY qu.qid,std.Score>0 ORDER BY qu.Qid
    </select>

</mapper>