<div class="content-header">
    <h2 class="content-title">作业列表</h2>
    <span class="layui-breadcrumb">
	  <a href="#!home">首页</a>
	  <a href="#!task/taskList"><cite>作业列表</cite></a>
	</span>
</div>

<div>
    <div class="layui-form toolbar">
        搜索：
        <select id="Class">
        </select>&emsp;
        <input id="time_start" class="layui-input search-input" type="text" placeholder="输入搜索内容" />&emsp;
        <button id="searchBtn" class="layui-btn search-btn"><i class="layui-icon">&#xe615;</i>搜索</button>&emsp;
        <!--<button id="addBtn" class="layui-btn search-btn"><i class="layui-icon">&#xe654;</i>添加</button>-->
    </div>
    <div>
        <div style="width: 100%;min-height:400px;" id="cuecharts"></div>
        <div id="main" style="width: 100%;height:400px;"></div>
    </div>
</div>
<script type="text/javascript" src="assets/js/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/grade/echarts.js"></script>
<script>
    createSelectClass();
    function createSelectClass(){
        var clazz=getCurrentClass();
        html='';
        for(var i=0;i<clazz.length;i++){
            html+="<option value='"+clazz[i].cno+"'>"+clazz[i].cname+"</option>";
        }
        $("#Class").html(html);
    }
    $("#searchBtn").click(function(){
        chart();
    });
</script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#time_start' //指定元素
        });
    });
</script>
<script type="text/javascript">
    var tno=getCurrentUser().userId;
    chart();
    var myChart = echarts.init(document.getElementById('main'));
    //显示班级某次作业的详情
    myChart.on('click',
        function(params) {
            if (params.componentType === 'series') {
                var cname = params.seriesName;
                var time = params.name;
                var cno = $("#Class").val();
                $.ajax({
                    type : "POST",
                    url : "grade/taskGradeDetailByCnameAndTime",
                    data : {"cname" : cname,"time" : time,"cno" : cno,"tno":tno},
                    dataType : "json",
                    success : function(data) {
                        var data = data.list;
                        var courseName = new Array();//课程
                        var time = new Array();//时间轴
                        var totaldata = new Array();
                        var totalGrade;
                        var title = "";
                        var legend = new Array();
                        console.log(data);
                        if (data.length == 0) {
                            courseName = null;
                            title = "";
                            legend = "";
                            var datas = {
                                name : null,
                                type : 'bar',
                                data : null,
                                markPoint : {
                                    data : [ {
                                        type : 'max',
                                        name : '最大值'
                                    }, {
                                        type : 'min',
                                        name : '最小值'
                                    } ]
                                },
                                markLine : {
                                    data : [ {
                                        type : 'average',
                                        name : '平均值'
                                    } ]
                                }
                            };
                            totaldata.push(datas);
                        } else {
                            title = data[0].cname;
                            legend.push(data[0].taskName);
                            totalGrade = new Array();
                            for (var i = 0; i < data.length; i++) {
                                totalGrade
                                    .push(data[i].grade);
                                courseName
                                    .push(data[i].sname);
                            }
                            var datas = {
                                name : legend,
                                type : 'bar',
                                data : totalGrade,
                                markPoint : {
                                    data : [ {
                                        type : 'max',
                                        name : '最大值'
                                    }, {
                                        type : 'min',
                                        name : '最小值'
                                    } ]
                                },
                                markLine : {
                                    data : [ {
                                        type : 'average',
                                        name : '平均值'
                                    } ]
                                }
                            };
                            totaldata.push(datas);
                        }
                        var option = {
                            noDataLoadingOption : {
                                text : '暂无数据',
                                effect : 'bubble',
                                effectOption : {
                                    effect : {
                                        n : 0
                                    }
                                }
                            },
                            title : {
                                text : title,
                            },
                            tooltip : {
                                trigger : 'axis',
                                axisPointer : { // 坐标轴指示器，坐标轴触发有效
                                    type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                                }
                            },
                            legend : {
                                data : legend
                            },
                            toolbox : {
                                show : true,
                                feature : {
                                    dataView : {
                                        show : true,
                                        readOnly : false
                                    },
                                    magicType : {
                                        show : true,
                                        type : [
                                            'line',
                                            'bar' ]
                                    },
                                    restore : {
                                        show : true
                                    },
                                    saveAsImage : {
                                        show : true
                                    }
                                }
                            },
                            calculable : true,
                            xAxis : [ {
                                type : 'category',
                                data : courseName
                            } ],
                            yAxis : [ {
                                type : 'value'
                            } ],
                            series : {
                                name : legend,
                                type : 'bar',
                                data : totalGrade,
                                markPoint : {
                                    data : [ {
                                        type : 'max',
                                        name : '最大值'
                                    }, {
                                        type : 'min',
                                        name : '最小值'
                                    } ]
                                },
                                markLine : {
                                    data : [ {
                                        type : 'average',
                                        name : '平均值'
                                    } ]
                                }
                            }
                        };
                        // 使用刚指定的配置项和数据显示图表。
                        myChart.setOption(option,true);
                    }
                });
            }
        });

    $("#submitTimeAndCno").click(function() {
        chart();
    });
    //班级某课程的所有作业情况
    function chart() {
        var cno = $("#Class").val();
        var time = $("#time_start").val();
        $.ajax({
            type : "POST",
            url : "/grade/taskGradeStatisticByCnoAndTime",
            data : {"cno" : cno,"time" : time,"tno":tno},
            dataType : "json",
            success : function(data) {
                data=data.list;
                var courseName = new Array();//课程
                var time = new Array();//时间轴
                var totaldata = new Array();
                var title;
                console.log(data);
                if (data.length == 0) {
                    courseName = null;
                    totaldata=null;
                    document.getElementById('cuecharts').innerHTML="暂无数据";
                    document.getElementById('cuecharts').style.display="";
                    document.getElementById('main').style.display="none";
                } else {
                    document.getElementById('cuecharts').style.display="none";
                    document.getElementById('main').style.display="";
                    title = data[0].cname;
                    for (var i = 0; i < data.length; i++) {
                        if (-1 == courseName
                                .indexOf(data[i].courseName)) {
                            courseName
                                .push(data[i].courseName);
                        }
                        if (-1 == time
                                .indexOf(data[i].startTime)) {
                            time.push(data[i].startTime);
                        }
                    }
                    for (var i = 0; i < courseName.length; i++) {
                        var totalGrade = new Array(time.length);
                        for (var j = 0; j < data.length; j++) {
                            if (courseName[i] == data[j].courseName) {
                                totalGrade[time
                                    .indexOf(data[j].startTime)] = data[j].totalGrade;
                            }
                        }
                        var datas = {
                            name : courseName[i],
                            type : 'bar',
                            data : totalGrade,
                            markPoint : {
                                data : [ {
                                    type : 'max',
                                    name : '最大值'
                                }, {
                                    type : 'min',
                                    name : '最小值'
                                } ]
                            },
                            markLine : {
                                data : [ {
                                    type : 'average',
                                    name : '平均值'
                                } ]
                            }
                        };
                        totaldata.push(datas);
                    }
                }

                var option = {
                    noDataLoadingOption : {
                        text : '暂无数据',
                        effect : 'bubble',
                        effectOption : {
                            effect : {
                                n : 0
                            }
                        }
                    },
                    title : {
                        text : title,
                    },
                    tooltip : {
                        trigger : 'axis',
                        axisPointer : { // 坐标轴指示器，坐标轴触发有效
                            type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
                        }
                    },
                    legend : {
                        data : courseName
                    },
                    toolbox : {
                        show : true,
                        feature : {
                            dataView : {
                                show : true,
                                readOnly : false
                            },
                            magicType : {
                                show : true,
                                type : [ 'line', 'bar' ]
                            },
                            restore : {
                                show : true
                            },
                            saveAsImage : {
                                show : true
                            }
                        }
                    },
                    calculable : true,
                    xAxis : [ {
                        type : 'category',
                        data : time
                    } ],
                    yAxis : [ {
                        type : 'value'
                    } ],
                    series : totaldata
                };
                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option,true);
            }
        });
    }
</script>