
<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/bootstrap-3.3.4.css">
<link rel="stylesheet" type="text/css" href="../../assets/dist/Mutipluy/jquery.dropdown.min.css">
<script src="../../assets/dist/Mutipluy/jquery.dropdown.min.js"></script>


<link rel="stylesheet" type="text/css" href="../../assets/js/jqueryStep/css/jquery.step.css"/>
<script src="../../assets/js/jqueryStep/js/jquery.step.min.js"></script>
<style>
    button {
        display: inline-block;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        text-align: center;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #5bc0de;
    }

    .main {
        width: 90%;
        margin: 20px auto;
    }

    #step {
        margin-bottom: 60px;
    }

    .btns {
        float: left;
    }

    .info {
        float: left;
        height: 34px;
        line-height: 34px;
        margin-left: 40px;
        font-size: 28px;
        font-weight: bold;
        color: #928787;
    }

    .info span {
        color: red;
    }
</style>



<div class="content-header">
    <h2 class="content-title">用户管理</h2>
    <span class="layui-breadcrumb">
	  <a href="#!home">首页</a>
	  <a><cite>用户管理</cite></a>
	</span>
</div>
<div>
    <div class="main">
        <form action="/jss/arrangeTask/arrange" name="layui-form" method="post" enctype="multipart/form-data">
            <div id="step"></div>
            <div id="taskBasicCorpus">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px;">作业名称</label>
                    <div class="layui-input-block" style="width:40%;">
                        <input type="text" name="taskName" lay-verify="required" autocomplete="off" placeholder="请输入标题"
                               class="layui-input" required>
                    </div>
                </div>
                <input type="hidden" id="tno" name="tno">
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px;">所属课程</label>
                    <div class="layui-input-block" style="width:40%;">
                        <div class="col-sm-4">
                            <select name="cno" id="cno" class="form-control" style="width:200px;"  placeholder="请选择">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px;">所属章节</label>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="dropdown-mul-2">
                                <select name="tchapter" id="mul-2" multiple placeholder="请选择">
                                    <option value="第一章">第一章</option>
                                    <option value="第二章">第二章</option>
                                    <option value="第三章">第三章</option>
                                    <option value="第四章">第四章</option>
                                    <option value="第五章">第五章</option>
                                    <option value="第六章">第六章</option>
                                    <option value="第七章">第七章</option>
                                    <option value="第八章">第八章</option>
                                    <option value="第九章">第九章</option>
                                    <option value="第十章">第十章</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label" style="width:100px;">作业附件</label>
                        <div class="layui-input-inline">
                            <input type="file" name="appendixesFile" id="appendixesFile">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:120px;">开启答案功能</label>
                    <div class="layui-input-block">
                        <input type="checkbox" name="isAnswer" lay-skin="switch" lay-text="是|否">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:120px;">开启消息功能</label>
                    <div class="layui-input-block">
                        <input type="checkbox" checked="" name="isMessage" lay-skin="switch" lay-filter="switchTest"
                               lay-text="是|否">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:100px;">作业类型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="isEqully" value="true" title="题型一" checked="">题型一
                        <input type="radio" name="isEqully" value="false" title="题型二">题型二
                    </div>
                </div>
            </div>
            <div id="confirmQuestions" style="display:none">
                <div>
                    <label class="layui-form-label">题型设置</label>
                    <div style="display: inline-block;width:50%;">
                        <ul class="ul1" id="user_ul">
                        </ul>
                    </div>
                    <div id="most_tixing" style="display: inline-block;margin-right: 30%;position:absolute;left:50%;" >
                        <dl id="ddbutton">
                            <dd id="ddbutton1" style="margin-top: 10px;">
                                <input type="button" id="tixing_danxuan" class="layui-btn" value="单选题">
                                <input type="button" id="tixing_duoxuan" class="layui-btn" value="多选题">
                            </dd>
                            <dd id="ddbutton2" style="margin-top: 10px;">
                                <input type="button" id="tixing_tiankong" class="layui-btn" value="填空题">
                                <input type="button" id="tixing_panduan" class="layui-btn" value="判断题">
                            </dd>
                            <dd id="ddbutton3" style="margin-top: 10px;">
                                <input type="button" id="tixing_jianda" class="layui-btn" value="简答题">
                                <input type="button" id="tixing_daima" class="layui-btn" value="编程题">
                            </dd>
                        </dl>
                    </div>
                    <div style="margin-left: 180px">
                        <input type="hidden" name="tscore" id="tscore" value=0>
                        <b style="font-size: 20px" id="total_score">
                        </b>
                    </div>
            </div>
            </div>
            <div id="confirmClass" style="display:none">
                <table width="90%" cellpadding="0" cellspacing="0" style="table-layout: fixed;margin: 0 auto">
                    <thead >
                    <tr style="margin-top: 30px">
                        <td style="margin-left: 10px" width="40px"></td>
                        <td style="margin-left: 10px">班级</td>
                        <td style="margin-left: 10px">时间</td>
                    </tr>
                    </thead>
                    <tbody id="shareTaskToClass">

                    </tbody>
                </table>
            </div>
            <div class="layui-form-item">
                <br>
            </div>
            <div class="btns">
                <button id="prevBtn" type="button">上一步</button>
                <button id="nextBtn" type="button" lay-submit="">下一步</button>
            </div>
        </form>
    </div>
</div>
<script>
    $("#tno").val(getCurrentUser().userId);

    $('.dropdown-mul-2').dropdown({
        searchable: false,
        choice: function() {
            console.log('.dropdown-mul-2 picked')
        }
    });
</script>
<script type="text/javascript">

    var $step = $("#step");
    var $index = $("#index");
    var keyCount=0;
    $step.step({
        index: 0,
        time: 500,
        title: ["填写作业信息", "选择题型", "确认班级", "完成"]
    });
    $index.text($step.getIndex());
    $("#prevBtn").on("click", function () {
        if(keyCount==2){
            $step.prevStep();
            $("#taskBasicCorpus").css("display","none");
            $("#confirmQuestions").css("display","");
            $("#confirmClass").css("display","none");
            $index.text($step.getIndex());
            $("#nextBtn").text("下一步");
            $("#nextBtn").attr("type","button");
            keyCount--;
        }else if(keyCount==1){
            $step.prevStep();
            $("#taskBasicCorpus").css("display","");
            $("#confirmQuestions").css("display","none");
            $("#confirmClass").css("display","none");
            $index.text($step.getIndex());
            keyCount--;
        }
    });
    $("#nextBtn").on("click", function () {
        if(keyCount==0){
            $step.nextStep();
            $("#taskBasicCorpus").css("display","none");
            $("#confirmQuestions").css("display","");
            $("#confirmClass").css("display","none");
            $index.text($step.getIndex());
            keyCount++;
        }else if(keyCount==1){
            var k=0;
            if($("span[name='tixing_count']").length!=0){
                $("span[name='tixing_count']").each(function(data,index){
                    if($(this).text()=='0'){
                        k++;
                    }
                });
                if(k!=0){
                    layui.layer.msg("请选择题型！");
                }else{
                    $step.nextStep();
                    $("#taskBasicCorpus").css("display","none");
                    $("#confirmQuestions").css("display","none");
                    $("#confirmClass").css("display","");
                    $("#nextBtn").text("完成");
                    $index.text($step.getIndex());
                    keyCount++;
                }
            }else{
                if($("#appendixesFile").val()!=''){
                    $step.nextStep();
                    $("#taskBasicCorpus").css("display","none");
                    $("#confirmQuestions").css("display","none");
                    $("#confirmClass").css("display","");
                    $("#nextBtn").text("完成");
                    $index.text($step.getIndex());
                    keyCount++;
                }else{
                    layui.layer.msg("请选择题型或文件！");
                }
            }
        }else if(keyCount==2){
            var time=$("input[name=time]");
            var clzz=$("input[name=classNo]");
            var x=0,y=0;
            for(var i=0;i<clzz.length;i++){
                if(clzz[i].checked){
                    x++;
                }
                if(time[i].value!=''){
                    y++;
                }
            }
            if(x==y){
                $("#nextBtn").attr("type","submit");
                window.location.reload();
            }else{
                layui.layer.msg("请选择班级或截止时间！");
            }
        }
    });
</script>
<script>
    $("input[id^='tixing_']").each(function(index,el){
        $(this).click(function(){
            var type=el.value;
            var cno=$("#cno").val();
            var chapter=$("#tchapter").val();
            $.ajax({
                type : "POST",
                url : "jss/arrangeTask",
                data : {"type" : type, "cno" : cno, "chapter" : chapter},
                dataType : "json",
                success : function(data) {
                    num = data.value;
                    if ((num * 1) > 999) {
                        num = "999+";
                    }
                    $("#user_ul").append("<li class='li1' id='"+type+"' style='margin-top: 10px;margin-left: 5%'>"+
                    " <b class='b1' style='margin-right: 5%'>"+type+"</b>"+
                    "<span class='span1' style='margin-right: 10%' name='tixing_count'>"+num+"</span>"+
                    "<div class='div2' style='display:inline-block;margin-right: 5%'>"+
                    " <input type='number' onChange='totalscore1(this,"+num+")' name='count' onkeypress='keyPress(this)' onkeyup='keyUp(this)' onblur='onBlur(this)' name='count' value='1' style='width:40px;'>题"+
                    "</div>"+
                    "<input type='hidden' name='types' value="+type+">"+
                    "<div class='div3' style='display:inline-block;'>"+
                    "   <input type='text' onChange='totalscore2(this)' name='score' onkeypress='keyPress(this)' onkeyup='keyUp(this)' onblur='onBlur(this)' name='score' value='1' style='width:40px;'>分"+
                    "</div>"+
                    "<a class='a1' onClick='deletetixing(this)' style='cursor: pointer;' name='"+ type+"'>"+
                    "   删除"+
                    "</a>"+
                    "</li>");
                    $("#total_score").text("总分：" + totalScore());
                    $("#tscore").val(totalScore());
                }
            });
            $(this).attr("disabled","false");
            $(this).attr("class","layui-btn layui-btn-disabled");
        });
    });
    function deletetixing(obj) {
        var tixing = $(obj).attr("name");
        $("#" + tixing).remove();
        console.log(tixing);
        var score=0;
        $("#ddbutton").find("input[type='button'][value="+ tixing+"]").removeAttr("disabled").attr("class","layui-btn");
        var arr1 = document.getElementsByName("count");
        if(document.getElementsByName("count").length>0){
            var tatal_score = totalScore();
            $("#total_score").text("总分：" + tatal_score);
            $("#tscore").val(tatal_score);
        }else{
            $("#total_score").text("");
            $("#tscore").val(0);
        }
    }
    function totalScore(){
        var arr1 = document.getElementsByName("count");
        var arr2 = document.getElementsByName("score");
        var totalScore=0;
        for(var i=0;i<arr1.length;i++){
            totalScore+=arr1[i].value *arr2[i].value;
        }
        return totalScore;
    }
    function keyPress(ob) {
        if (!ob.value.match(/^[\+\-]?\d*?\.?\d*?$/)) {
            ob.value = "0";
        }
        if (ob.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/)) {
            ob.o_value = ob.value;
        }
    }
    function keyUp(ob) {
        if (!ob.value.match(/^[\+\-]?\d*?\.?\d*?$/)) {
            ob.value = ob.t_value;
        } else {
            ob.t_value = ob.value;
        }
        if (ob.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?)?$/)) {
            ob.o_value = ob.value;
        }
    }
    function onBlur(ob) {
        if (!ob.value.match(/^(?:[\+\-]?\d+(?:\.\d+)?|\.\d*?)?$/)) {
            ob.value = ob.o_value;
        } else {
            if (ob.value.match(/^\.\d+$/)) {
                ob.value = 0 + ob.value;
            }
            if (ob.value.match(/^\.$/)) {
                ob.value = 0;
                ob.o_value = ob.value;
            }
        }
    }
    function totalscore1(obj, num) {
        if (num == 0) {
            obj.value = 0;
        } else if (obj.value > num) {
            obj.value = num;
        }
        var tatal_score = totalScore();
        $("#total_score").text("总分：" + tatal_score);
        $("#tscore").val(tatal_score);
    }
    function totalscore2(obj) {
        var tatal_score = totalScore();
        $("#total_score").text("总分：" + tatal_score);
        $("#tscore").val(tatal_score);
    }
</script>
<script type="text/javascript" src="../assets/libs/layui/lay/modules/form.js"></script>
<script>
        !function(){
            var layer = layui.layer
                ,$ = layui.jquery
                , layedit = layui.layedit
                , laydate = layui.laydate
                ,form = layui.form;

            createShareTaskTable();

            createSelectCourse();
            //自定义验证规则
            form.verify({
                title: function (value) {
                    if (value.length < 5) {
                        return '标题至少得5个字符啊';
                    }
                }
            });
            //监听提交
            form.on('submit(demo1)', function (data) {
                layer.alert(JSON.stringify(data.field), {
                    title: '最终的提交信息'
                })
                return false;
            });

            form.render();
        }();
    function createSelectCourse(){
        var course=getCurrentCourse();
        console.log(course);
        html='';
        for(var i=0;i<course.length;i++){
            html+="<option value='"+course[i].cid+"'>"+course[i].courseName+"</option>";
        }
        console.log(html);
        $("#cno").html(html);
    }

    function createShareTaskTable(){
        var str='';
        var clazz=getCurrentClass();
        for(var i=0;i<clazz.length;i++){
            str+= "<tr height='50px'>" +
                "<td style=\"margin-left: 10px\"><input type='checkbox' name='classNo' lay-skin='primary' lay-filter='classNo' value='" + clazz[i].cno + "'></td>" +
                "<td style=\"margin-left: 10px\">" +clazz[i].cname+ "</td>" +
                "<td style=\"margin-left: 10px\">" +
                "<input type='text' style='display: none;width: 50%;' class='layui-input'  id='" + clazz[i].cno + "' name='time' placeholder='yyyy-MM-dd HH:mm:ss'>" +
                "</td>" +
                "</tr>";
        }
        $("#shareTaskToClass").html(str);
        for(var i=0;i<clazz.length;i++){
            layui.use('laydate', function() {
                var laydate = layui.laydate;
                //时间选择器
                console.log("时间");
                laydate.render({
                    elem: "#"+clazz[i].cno+"",
                    type: 'datetime'
                });
            });
            layui.form.render();
        }
        layui.form.on('checkbox(classNo)', function(data){
            console.log(data.elem); //得到checkbox原始DOM对象
            console.log(data.elem.checked); //是否被选中，true或者false
            console.log(data.value); //复选框value值，也可以通过data.elem.value得到
            if(data.elem.checked){
                $("#"+data.value+"").css("display","");
                $("#"+data.value+"").val("");
            }else{
                $("#"+data.value+"").css("display","none");
                $("#"+data.value+"").val("");
            }
        });
        $("input[name=classNo]").each(function(index,ele){
            $(ele).click(function(){
                var str=$(this).val();
                if(this.checked){
                    $("#"+str+"").css("display","");
                    $("#"+str+"").val("");
                }else{
                    $("#"+str+"").css("display","none");
                    $("#"+str+"").val("");
                }
            });
        });
        layui.form.render();
    }
</script>