<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wf.ew.task.dao.TaskDao">
    <resultMap id="task" type="com.wf.ew.task.model.Task">
        <id column="Tid" property="tid"></id>
        <result column="Task_name" property="taskName"></result>
        <result column="Tappendixes" property="tappendixes"></result>
        <result column="Tscore" property="tscore"></result>
        <result column="Tno" property="tno"></result>
        <result column="Tname" property="tname"></result>
        <result column="SubTime" property="subtime"></result>
        <result column="Ttype" property="ttype"></result>
        <result column="Tstate" property="tstate"></result>
        <result column="Cno" property="cno"></result>
        <result column="Cname" property="cname"></result>
        <result column="Tchapter" property="tchapter"></result>
    </resultMap>
    <resultMap id="taskDetail" type="com.wf.ew.task.model.TaskDetail">
        <id column="Tid" property="tid"></id>
        <result column="type" property="type"></result>
        <result column="Qid" property="qid"></result>
        <result column="Score" property="score"></result>
    </resultMap>
    <select id="queryTask" resultMap="task">
        select task.*,course.Cname from task,course
        <where>
            and task.Tno=#{tno}
            and task.Cno=course.Cno
            <choose>
                <when test="searchKey!=null and searchValue!=null and searchKey!='' and searchValue!='' and searchKey!='Cno'">
                    and ${searchKey} like concat(concat("%",#{searchValue}),"%")
                </when>
                <when test="searchKey!=null and searchValue!=null and searchKey!='' and searchValue!='' and searchKey=='Cno'">
                    and course.Cno in (select Cno from course where Cname like concat(concat("%",#{searchValue}),"%"))
                </when>
            </choose>
        </where>
        ORDER BY task.SubTime DESC
    </select>

    <delete id="deleteTask">
        delete task,tdetail,ctask from task
        LEFT JOIN tdetail on tdetail.Tid=task.Tid
        LEFT JOIN ctask on task.Tid=ctask.Tid  where task.Tid=#{Tid}
    </delete>

    <insert id="shareTask">
        insert into ctask(Tid,Cno,Start_time,End_time) VALUES
        <foreach collection="condition" item="condition" index="index" separator=",">
            (#{tid},#{condition.cno},#{condition.time},#{condition.endTime})
        </foreach>
    </insert>

    <update id="updateState">
        UPDATE task set Tstate=#{state} where Tid=#{tid}
    </update>

    <select id="judgeTaskName" resultType="java.lang.Integer">
        select count(1) from task
        <where>
            <if test="taskName!=null">
                and Task_name=#{taskName}
            </if>
            <if test="startTime!=null">
                and SubTime &gt; #{startTime}
            </if>
            <if test="endTime!=null">
                and SubTime &lt; #{endTime}
            </if>
        </where>
    </select>

    <select id="queryTaskByTid" resultMap="task">
        select * from task where Tid=#{tid}
    </select>

    <select id="queryTaskDetailByTid" resultMap="taskDetail">
        select * from tdetail where Tid=#{tid}
    </select>
</mapper>