<div class="content-header">
    <h2 class="content-title">作业列表</h2>
    <span class="layui-breadcrumb">
	  <a href="#!home">首页</a>
	  <a href="#!task/taskList"><cite>作业列表</cite></a>
	</span>
</div>

<div id="showTable">
    <div class="layui-form toolbar">
        搜索：
        <select id="searchKey">
            <option value="">-请选择-</option>
            <option value="competition_name">比赛名称</option>
            <option value="competition_description">比赛描述</option>
        </select>&emsp;
        <input id="searchValue" class="layui-input search-input" type="text" placeholder="输入搜索内容" />&emsp;
        <button id="searchBtn" class="layui-btn search-btn"><i class="layui-icon">&#xe615;</i>搜索</button>&emsp;
        <button id="addBtn" class="layui-btn search-btn"><i class="layui-icon">&#xe654;</i>添加</button>
    </div>

    <table class="layui-table" id="table" lay-filter="table"></table>
</div>


<form class="layui-form" action="" id="competitionFrom" style="display: none;">
    <div class="layui-form-item">
        <label class="layui-form-label">比赛名称</label>
        <div class="layui-input-block">
            <input type="text" name="competitionName" id="competitionName" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">比赛描述</label>
        <div class="layui-input-block">
            <textarea class="layui-textarea layui-hide" name="competitionDescription" id="competitionDescription" lay-verify="content"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">比赛人数</label>
            <div class="layui-input-inline">
                <input type="number" name="competitionPlayersCount" id="competitionPlayersCount" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否开启</label>
        <div class="layui-input-block">
            <input type="radio" name="isClose" value="1" id="close1" title="是" checked="">
            <input type="radio" name="isClose" value="0" id="close2" title="否">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否发布</label>
        <div class="layui-input-block">
            <input type="radio" name="isPublish" value="1" id="public1" title="是" checked="">
            <input type="radio" name="isPublish" value="0" id="public2" title="否">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
                <input type="text" name="competitionBeginTime" id="competitionBeginTime"  placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" name="competitionEndTime" id="competitionEndTime" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">能否申报</label>
        <div class="layui-input-block">
            <input type="radio" name="isCanDeclare" value="1" id="canDeclare1" lay-filter="declare" title="是">
            <input type="radio" name="isCanDeclare" value="0" id="canDeclare2" lay-filter="declare" title="否" checked="">
        </div>
    </div>

    <div class="layui-form-item" id="isCanDeclare" style="display:none">
        <div class="layui-inline">
            <label class="layui-form-label">申请时间</label>
            <div class="layui-input-inline">
                <input type="text" name="competitionApplyBeginTime" id="competitionApplyBeginTime" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" name="competitionApplyEndTime" id="competitionApplyEndTime" placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">比赛题目</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" class="layui-textarea" name="competitionProblemIds" id="competitionProblemIds"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">题目个数</label>
            <div class="layui-input-inline">
                <input type="number" name="problemCount" id="problemCount" lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" id="reset" class="layui-btn layui-btn-primary">返回</button>
        </div>
    </div>
</form>



<!-- 表格操作列 -->
<script type="text/html" id="barTpl">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="view">详情</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<!-- 表格状态列 -->
<script type="text/html" id="statusTpl1">
    <input type="checkbox" value="{{d.competitionId}}" lay-filter="statusCB1" lay-skin="switch" lay-text="是|否" {{ d.isClose == 0 ? 'checked' : '' }}>
</script>



<!-- 表单弹窗 -->
<script type="text/html" id="shareTask">
    <form id="editForm" action="">
        <table width="90%" cellpadding="0" cellspacing="0" style="table-layout: fixed;margin: 0 auto">
            <thead>
                <tr style="margin-top: 30px">
                    <td style="margin-left: 10px" width="40px"></td>
                    <td style="margin-left: 10px">班级</td>
                    <td style="margin-left: 10px">时间</td>
                </tr>
            </thead>
            <tbody id="shareTaskToClass">

            </tbody>
        </table>
        <div class="layui-form-item model-form-footer" style="margin-right: 200px;margin-top: 10px">
            <button class="layui-btn layui-btn-primary" type="button" id="btnCancel">取消</button>
            <button type="button" class="layui-btn" id="btnSubmit">保存</button>
        </div>
    </form>

</script>


<script type="text/javascript" src="assets/js/competition/competitionApprove.js"></script>